

mixin panelFrame
	.row(class=attributes.class, id=attributes.id)
		.hab-panel.col-md-12
			block


mixin panelRed
	+panelFrame.panel-red
		block


mixin whatdidwemiss
	label.text-muted What did we miss?
	input(type="text")