include _panels.jade

.row
	.col-md-12
		h1 hab-wow


//- welcome
+panelFrame
	h4 Welcome

+panelFrame
	h4 WE HEARD YOU
	p These are the key objectives as we understand them today:
	ul
		li Develop strategy and vision for the new AER employee portal - this vision must represent AER’s new mandate and focus
		li Socialize and align executive stakeholders around the vision and strategy

	//-small.fine-print.text-muted
		strong Fine Print

	//-p.text-muted
		| These imperatives will be supported by a collection of solution com-ponents as listed in the table below. The intranet is for the most part an enabler of the imperatives; it will not drive the imperatives directly per se. There exists a need for organizational change in parallel to this solution, to drive the business outcomes that are sought. For clar-ity, Habanero is NOT anticipating supporting this organizational change outside of delivering the solution.

hr

+panelFrame
	h4 key points

+panelRed
	p qrcoffee

+panelFrame
	h4 Approach and process