include _panels.jade

//- welcome
+panelFrame
	h4 Welcome
	p
		strong Welcome to Habanero's web statement of work.
		| &nbsp;By communicating to you via this web page we aim to make our documentation more readily accessible and more consumable. This WOW effectively communicates our proposal ensuring that all team members from both of our organizations can consume the project structure, the scope, and the approach.

hr

+panelFrame
	h4 WE&nbsp;
		strong HEARD YOU
	p These are the key objectives as we understand them today:
	ul
		li Develop strategy and vision for the new AER employee portal - this vision must represent AER's new mandate and focus
		li Socialize and align executive stakeholders around the vision and strategy

	//-small.fine-print.text-muted
		strong Fine Print

	//-p.text-muted
		| These imperatives will be supported by a collection of solution com-ponents as listed in the table below. The intranet is for the most part an enabler of the imperatives; it will not drive the imperatives directly per se. There exists a need for organizational change in parallel to this solution, to drive the business outcomes that are sought. For clar-ity, Habanero is NOT anticipating supporting this organizational change outside of delivering the solution.

	+whatdidwemiss
hr

+panelFrame
	h4
		strong key
		| &nbsp;points
	p Here are the highlights from the statement of work (because we know you're busy!):
	+keyPoint(8, "stakeholder interviews")
	+keyPoint(28, "listening labs")
	+keyPoint(10, "wireframes")
	+keyPoint(6, "weeks")
	+keyPoint("$55,820", "dollars")

+panelRed
	p
		| So... if you're going to keep reading, why don't you do it with a Starbucks coffee on us!
		br
		br
		a.btn.btn-default.view-free-coffee-action(href="#", onclick="$(this).addClass('hidden'); $('.view-free-coffee').removeClass('hidden').addClass('show'); return false;") Free coffee!
		#free-coffee.view-free-coffee.hidden
			p Show this QR code at a nearby Starbucks and redeem a free coffee on Habanero.
			img.img-responsive(src="/img/starbucks-qr.jpg")
+panelFrame
	h4
		| How&nbsp;
		strong we'll do it

	div.panel-group#accordion.margin-20
		+accordionPanel("#collapseD", "Business orientation")
			div#collapseD.panel-collapse.collapse
				div.panel-body
					p ...
		+accordionPanel("#collapseE", "Site review")
			div#collapseE.panel-collapse.collapse
				div.panel-body
					p ...
		+accordionPanel("#collapseA", "Stakeholder Interviews")
			div#collapseA.panel-collapse.collapse
				div.panel-body
					p Hello world
		+accordionPanel("#collapseB", "Listening labs")
			div#collapseB.panel-collapse.collapse
				div.panel-body
					img.img-responsive(src='img/dilbert-web-design.jpg', alt='')
		+accordionPanel("#collapseF", "Sketching workshops")
			div#collapseF.panel-collapse.collapse
				div.panel-body
					p ...
		+accordionPanel("#collapseC", "Wireframes")
			div#collapseC.panel-collapse.collapse
				div.panel-body
					p Wireframes are
					img.img-responsive(src='img/wireframes.png', alt='')
		+accordionPanel("#collapseG", "Mockups")
			div#collapseG.panel-collapse.collapse
				div.panel-body
					p ...
		+accordionPanel("#collapseH", "Findings presentation")
			div#collapseH.panel-collapse.collapse
				div.panel-body
					p ...
+panelFrame
	div.row
		//-div.col-lg-5.col-md-6.col-sm-6
			h4 Doin' it
			ul
				//- Discovery
				li Business orientation
				li Site review
				li Stakeholder interviews
				li Listening labs
				li Sketching workshops
				li Wireframes
				li Mockups
				li Findings presentation

		//-div.col-lg-5.col-md-6.col-sm-6
		div.col-lg-12
			h4 Not doin' it
			ul
				li Detailed functional and technical requirements documentation
				li Detailed wireframes and mockups
				li Content strategy
				li Technical implementation
	div.row	
		div.col-lg-12.margin-20
			h4 By the way...
			ul
				li Access to stakeholders and end users is critical to the success of this project. Let's schedule these sessions early!
				li We've incorporated 3 days for approvals into the timeline.

	+whatdidwemiss

hr

+panelFrame
	h4 Roles
	div.row
		div.col-md-4.col-lg-2.col-sm-4.col-xs-6
			img.img-responsive(src='img/girl.png', alt='')
			p.text-center.title Business Analyst 
		div.col-md-4.col-lg-2.col-sm-4.col-xs-6
			img.img-responsive(src='img/guy.png', alt='')
			p.text-center.title Senior Information Architect
		div.col-md-4.col-lg-2.col-sm-4.col-xs-6
			img.img-responsive(src='img/girl.png', alt='')
			p.text-center.title Service Delivery Manager
		div.col-md-4.col-lg-2.col-sm-4.col-xs-6
			img.img-responsive(src='img/guy.png', alt='')
			p.text-center.title User Experience Lead

hr

+panelFrame
	h4 Stakeholders
	ul
		li Kim Blanchett (VP, Office of Public Affairs)
		li Candace Bourque (Director, Communications)
		li Kaylen Gray (Director, Public Policy)
		li Mira Fava (VP, Operations)
		li Tim Doh (Director, IT Services)

hr

+panelFrame
	h4 Timeline
	ul.timeline.margin-20
		+timelineItem
			.timeline-heading
				h4.timeline-title Setting the table
			.timeline-body
				ul
					li Commitment to Proceed signed
					li Staff the project
					li Team ramp-up
					li Scheduling interviews
		+timelineItem
			div.timeline-heading
				h4.timeline-title Week 1
			div.timeline-body
				ul
					li Project kickoff
					li Business orientation workshop
					li Review any existing research
		+timelineItem
			div.timeline-heading
				h4.timeline-title Week 2
			div.timeline-body
				ul
					li Interviews with AER internal stakeholders
		+timelineItem
			div.timeline-heading
				h4.timeline-title Week 3
			div.timeline-body
				ul
					li Listening labs with AER employees
		+timelineItem
			div.timeline-heading
				h4.timeline-title Week 4 - 5
			div.timeline-body
				ul
					li Summarize findings
					li Complete sketches and high-level wireframes
					li Create presentation
		+timelineItem
			div.timeline-heading
				h4.timeline-title Week 6
			div.timeline-body
				ul
					li Presentation to AER


hr 

+panelFrame
	h4 Fees (expanded budget)
	table.table.table-striped
		thead
			tr
				td: strong Role
				td: strong Effort (hours)
				td: strong Rate
				td: strong Cost
		
		tfoot
			tr
				td: strong Total
				td
				td 
				td: strong $55,820
		tbody
			tr
				td User Experience Lead
				td 30
				td $185
				td $5,500
			tr
				td Senior Information Architect
				td 130
				td $185
				td $24,050
			tr
				td Business Analyst
				td 130
				td $185
				td $24,050
			tr
				td Service Delivery Manager
				td 12
				td $185
				td $2,220

hr

+panelFrame
	h4 Signature 
	p By signing below, the parties accept the terms of this document
	br
	p Name:
	br br
	p Date:






