include _panels.jade

.row
	.col-md-12
		h1 hab-wow


//- welcome
+panelFrame
	h2 Welcome

+panelFrame
	h2 We heard you

+panelFrame
	h2 Key points

+panelRed
	p qrcoffee

+panelFrame
	h2 Approach and process

div.panel-group.container-fluid#accordion
	div.panel.panel-default
		div.panel-heading
			h4.panel-title: a(href="#collapseOne", data-toggle="collapse", data-parent="#accordion")
				| 8 Stakeholder Interviews
		div#collapseOne.panel-collapse.collapse
			div.panel-body
				p Hello world
	div.panel.panel-default
		div.panel-heading
			h4.panel-title: a(href="#collapseTwo", data-toggle="collapse", data-parent="#accordion")
				| 10 Stakeholder Interviews
		div#collapseTwo.panel-collapse.collapse
			div.panel-body
				p Hello world
	div.panel.panel-default
		div.panel-heading
			h4.panel-title: a(href="#collapseThree", data-toggle="collapse", data-parent="#accordion")
				| 15 Mockups
		div#collapseThree.panel-collapse.collapse
			div.panel-body
				p Hello world

div.container-fluid
	div.row
		div.col-md-12
			h2 Roles
	div.row
		div.col-md-4.col-lg-2.col-sm-3
			img.img-responsive(src='img/ben.png', alt='')
			p.text-center.title Project Manager
		div.col-md-4.col-lg-2.col-sm-3
			img.img-responsive(src='img/ben.png', alt='')
			p.text-center.title Business Analyst 
		div.col-md-4.col-lg-2.col-sm-3
			img.img-responsive(src='img/ben.png', alt='')
			p.text-center.title Information Architect




