//- Include the mixins for panels and some other helpers
include _panels.jade

+panelRed
	h4 Welcome to
	h2 Habanero's presentation of work.
	p We've thought about what you need and how we can help you get there. Read on for all the details and please let us know what you think &mdash; you can add comments along the way!

+panelFrame
	h4 WE&nbsp;
		strong HEARD YOU
	p These are the key objectives as we understand them today:
	ul
		li Develop strategy and vision for the new AER employee portal - this vision must represent AER's new mandate and focus
		li Socialize and align executive stakeholders around the vision and strategy

	//-small.fine-print.text-muted
		strong Fine Print
	//-p.text-muted
		| These imperatives will be supported by a collection of solution com-ponents as listed in the table below. The intranet is for the most part an enabler of the imperatives; it will not drive the imperatives directly per se. There exists a need for organizational change in parallel to this solution, to drive the business outcomes that are sought. For clar-ity, Habanero is NOT anticipating supporting this organizational change outside of delivering the solution.

	+whatdidwemiss
hr

+panelFrame
	h4 key&nbsp;
		strong points
	p Here are the highlights from the statement of work (because we know you're busy!):
	.row
		.col-lg-4
			+keyPoint(8, "stakeholder interviews")
		.col-lg-4	
			+keyPoint(28, "listening labs")
		.col-lg-4
			+keyPoint(10, "wireframes")
	.row
		.col-lg-4
			+keyPoint(6, "weeks")
		.col-lg-4
			+keyPoint("$55,820", "dollars")

+panelRed
	p.text-center
		| So... if you're going to keep reading, why don't you do it with a Starbucks coffee on us!
		br
		br
		a.btn.btn-default.view-free-coffee-action(href="#", onclick="$(this).addClass('hidden'); $('.view-free-coffee').removeClass('hidden').addClass('show'); return false;") Free coffee!
	#free-coffee.view-free-coffee.hidden
		.row
			.col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-offset-3
				br
				br
				p.text-center Show this QR code at a nearby Starbucks and redeem a free coffee on Habanero.
				img.img-responsive(src='img/starbucks-qr.jpg', alt='')
+panelFrame
	h4 How&nbsp;
		strong we'll do it

	.panel-group#accordion.margin-20
		+accordionPanel("collapseD", "Business orientation")
			img.img-responsive(src='img/business-orientation.jpg', alt='')
			br
			p We get to know your world. We want to know your purpose, how you get things done, and how your business works.

		//-+accordionPanel("collapseE", "Site review")
			div#collapseE.panel-collapse.collapse
				.panel-body
					p ...

		+accordionPanel("collapseA", "Stakeholder Interviews")
			img.img-responsive(src='img/stakeholder-interviews.jpg', alt='')
			br
			p These are open conversations with the people that are passionate about how the project turns out. We learn about your big ideas for what our project must achieve.

		+accordionPanel("collapseB", "Listening labs")
			img.img-responsive(src='img/listening-lab.jpg', alt='')
			br
			p Listening labs give us the opportunity to observe you and your colleagues working with your portal. We learn what's working, what sucks, and where to reduce friction.
		+accordionPanel("collapseF", "Sketching workshops")
			img.img-responsive(src='img/sketching-workshop-2.jpg', alt='')
			br
			p This is where we roll up our sleeves and get out the markers. Let's imagine together what your new portal could be.

		+accordionPanel("collapseC", "Wireframes")
			img.img-responsive(src='img/wireframes.png', alt='')
			br
			p We create detailed diagrams with real content to illustrate where you'll find what you need when you need it.

		+accordionPanel("collapseG", "Mockups")
			img.img-responsive(src='img/enmax-mockup.jpg', alt='')
			br
			p This is where our diagrams become pictures showing how your content will look and feel with your unique brand.
		//-+accordionPanel("collapseH", "Findings presentation")
			//- img
			br
			p ...
+panelFrame
	.row
		.col-lg-12
			h4 Not doin' it
			ul
				li Detailed functional and technical requirements documentation
				li Detailed wireframes and mockups
				li Content strategy
				li Technical implementation
	.row	
		.col-lg-12.margin-20
			h4 By the way...
			ul
				li Access to stakeholders and end users is critical to the success of this project. Let's schedule these sessions early!
				li We've incorporated 3 days for approvals into the timeline.

	+whatdidwemiss

hr

+panelFrame
	h4: strong Roles
	.row
		.col-md-4.col-lg-2.col-sm-4.col-xs-6
			img.img-responsive(src='img/girl.png', alt='')
			p.text-center.title Business Analyst 
		.col-md-4.col-lg-2.col-sm-4.col-xs-6
			img.img-responsive(src='img/guy.png', alt='')
			p.text-center.title Senior Information Architect
		.col-md-4.col-lg-2.col-sm-4.col-xs-6
			img.img-responsive(src='img/girl.png', alt='')
			p.text-center.title Service Delivery Manager
		.col-md-4.col-lg-2.col-sm-4.col-xs-6
			img.img-responsive(src='img/guy.png', alt='')
			p.text-center.title User Experience Lead

hr

+panelFrame
	h4: strong Stakeholders
	ul
		li Kim Blanchett (VP, Office of Public Affairs)
		li Candace Bourque (Director, Communications)
		li Kaylen Gray (Director, Public Policy)
		li Mira Fava (VP, Operations)
		li Tim Doh (Director, IT Services)

hr

+panelFrame
	h4 Our&nbsp;
		strong journey
	ul.timeline.margin-20
		+timelineItem
			.timeline-heading
				h4.timeline-title Setting the table
			.timeline-body
				ul
					li Commitment to Proceed signed
					li Staff the project
					li Team ramp-up
					li Scheduling interviews
		+timelineItem
			.timeline-heading
				h4.timeline-title Week 1
			.timeline-body
				ul
					li Project kickoff
					li Business orientation workshop
					li Review any existing research
		+timelineItem
			.timeline-heading
				h4.timeline-title Week 2
			.timeline-body
				ul
					li Interviews with AER internal stakeholders
		+timelineItem
			.timeline-heading
				h4.timeline-title Week 3
			.timeline-body
				ul
					li Listening labs with AER employees
		+timelineItem
			.timeline-heading
				h4.timeline-title Week 4 - 5
			.timeline-body
				ul
					li Summarize findings
					li Complete sketches and high-level wireframes
					li Create presentation
		+timelineItem
			.timeline-heading
				h4.timeline-title Week 6
			.timeline-body
				ul
					li Presentation to AER


hr 

+panelFrame
	h4 What's&nbsp;
		strong the damage
		| ?
	table.table.table-striped
		thead
			tr
				th Role
				th Effort (hours)
				th Rate
				th.text-right Cost
		
		tfoot
			tr
				td: strong Total
				td &nbsp;
				td &nbsp;
				td.text-right: strong $55,820
		tbody
			tr
				td User Experience Lead
				td 30
				td $185
				td.text-right $5,500
			tr
				td Senior Information Architect
				td 130
				td $185
				td.text-right $24,050
			tr
				td Business Analyst
				td 130
				td $185
				td.text-right $24,050
			tr
				td Service Delivery Manager
				td 12
				td $185
				td.text-right $2,220

+panelRed
	h4 Anything we missed?
	+whatdidwemiss
	br
	p No? Looks good? Let's get busy!

+panelFrame
	h4: strong Signature 
	p By signing below, the parties accept the terms of this document.
	br
	p Name:
	br br
	p Date:

hr
+panelFrame
	.row
		.col-xs-4.col-xs-offset-4.col-sm-2.col-sm-offset-5.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4
			.text-center
				a(href='http://habaneroconsulting.com')
					img.img-responsive(src='img/habanero_logo_large_red.png', alt='', align='center')
			br




