include _panels.jade

.row
	.col-md-12
		h1 hab-wow


//- welcome
+panelFrame
	h2 Welcome

+panelFrame
	h2 we heard you

+panelFrame
	h2 key points

+panelRed
	p qrcoffee

+panelFrame
	h2 Approach and process